img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	max-width:89%;
	width:440px;
	height: 400px;
	margin-top: 2em;
	margin-bottom: 1em;
	transition: all 1s;
}

#dropdown-basic-button, p {
	font-family: Courier New;
}

#dropdown-basic-button {
	margin-top: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p {
	text-align: center;
	font-size: large;
	border-bottom: 0.1em solid;
	border-color: lightgray;
	width: 5em;
	margin-left: auto;
	margin-right: auto;
	
}

img:hover {
	transform: scale(1.1);
}

#buttonLink {
	background: none!important;
	border: none;
	padding: 0!important;
	/*optional*/
	font-family: arial, sans-serif;
	/*input has OS specific font-family*/
	color: #069;
	text-decoration: underline;
	cursor: pointer;
	margin-bottom: auto;
}
