.btn, #qoute {
	font-family: Courier New;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

.form-text, .form-label {
	font-family: Courier New;
}

form {
	padding-right: 1em;
	padding-left: 1em;
	margin-bottom: auto;
	margin-top: auto;
}

img {
	display: block;
	margin-left:auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
	transition: all 1s;
	margin-bottom: 1em;
	--animate-duration: 3.2s;
	--animate-delay: 0.9s;
}

img:hover {
	transform: scale(1.1);
}

