.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 25%
}

.gif {
    height: 8rem;
    width: 8rem;
}
.gif:hover {
    cursor: pointer
}

