.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(252, 252, 252); */
}

.flex-item {
    width: 25%
}

.gif {
    height: 50px;
    width: 50px;
}
.gif, .gifText:hover {
    cursor: pointer
}

.gifText {
    border-bottom: none;
    border-top: 1px solid black;
}

